.Add_Student_Dropdown {
    background-color: rgb(199 204 209 / 31%);
    border-bottom: 2px solid orange;
    padding: 5px;
    /* padding: 5px 5px 5px 15px; */
    /* width: 90%; */
    /* margin: 9px 0px 9px 15px; */
}

.add_student_dropdown_menu.show {
    /* width: 90% !important; */
    height: auto !important;
    /* margin: 9px 0px 9px 15px; */
    background-color: #F4F7FC!important;
}

.addnewstudent.form-control {
    margin-top: 0 !important;
}


/* .add_student_dropdown_menu.css-15v22id-MuiAccordionDetails-root {
    padding: 0;
} */


/* .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 16px;
} */


/* .Add_Student_Dropdown.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 15px!important;


} */