
.personal-setting-button{
    background-color: transparent !important;
    outline: none !important;
    margin-left: 10px !important;
    border: none !important;
  }
  
  .my-save-button{
    background-color: orange;
    outline: none;
    border-width: 0px;
    height: 35px;
    border-radius: 4px;
  }
  
  
  .setting-modal-div{
    border-radius: 5px !important;
    height: 639px;
  }
  
  .cross-btn-div{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 161px;
    background-color: #D5DAEF;
    display: flex;
    justify-content: flex-end;
    margin-top: -1px;
    width: 526px !important;
    margin-right: 0 !important;
  
  }
  .my-modal-body{
    padding: 0 !important;
    width: 526px !important;
    /* border-radius: 3px !important; */
  }
  
  .personal-profile{
    height: 85px;
    width: 115px  !important;
  }
  .setting-save-btn{
    /* margin-top: '35px' ; */
    margin-top: 35px;
    background-color: orange;
    outline: none;
    border-width: 0px;
    width: 270px;
    height: 40px;
    color: white;
    border-radius: 4px;
  }
  .my-form-div{
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
  }
  
  .main-container{
    border-radius: 4px;
    height: 639px;
    /* width: 100wh;000 */
    background-color: white;
  }
  
  /* .myAnime{
    transition-timing-function: ease-in-out;
    transition: 1.2s;
  
  }
  
  .anime-main-cont .myAnime{
    transition-timing-function: ease-in-out;
    transition: 1.2s;
  } */
  .button:focus {
    outline: none !important;
    box-shadow: none !important;
    }
  
  
  
    .hidden-inputs{
      
      width: 270px !important;
      margin-top: 22px !important;
      height: 40px !important;
    }

.key-icon{
    /* style={{marginTop: "45px",marginLeft: "-25px",cursor:"pointer"}} */
    margin-top: 45px !important;
    margin-left: -25px;
    cursor: pointer;
}
.key-icon-input{
    width: 270px !important;
    margin-top: 38px;
    height: 40px;
    margin-right: -28px;
    /* style={{ width: "270px", marginTop: "38px", height: "40px",marginRight: "-28px" }} */

}
.name-input{
    /* style={{ width: "270px", marginTop: "32px", height: "40px" }} */
    width: 270px !important;
    margin-top: 32px;
    height: 40px;
}
.cross-button{
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-right: 14px;
    margin-top: 15px;
}