*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
   
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    background: #ffffff;
    padding: 6px 20px;
}
.sidebar .logo_content .logo{
    color: rgb(78, 76, 76);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul{
    margin-top: 20px;
}
.sidebar .nav_list li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}
/* .sidebar .nav_list li .tooltip{
    position: absolute;

    left: 122px;
    top: 50%;
    transform: translate(-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: rgb(156, 93, 93);
    line-height: 35px;
    text-align: center;
    color: aqua;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
} */
.sidebar .nav_list input{
    /* position: absolute; */
    height: 50px;
    width: 100%;
    top: 0;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #eeeded;
    padding-left: 20px;
    font-size: 20px;
    color: rgb(7, 7, 7);
    
}
.sidebar .nav_list  input::placeholder{
    font-size: 15px;
}
/* .sidebar .nav_list .fa-search{
   
     z-index:99 ; 
    color: rgb(0, 0, 0);
    font-size: 22px;
    /* margin-top: 20px; */
    /* margin-left: 200px  */
 /* }  */ 
.sidebar .nav_list li a{
    /* position: absolute; */
    color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    text-decoration: none;
    
}
.sidebar .nav_list li a:hover{
color:rgb(0, 0, 0);
background:rgb(211, 209, 209);
height: 40px;
margin-top: 12px;
padding-bottom: 20px;
width: 100%;
position: absolute;
/* display: inline-block; */

}

.sidebar .nav_list li a .logos{
 height: 50px;
 min-width: 50px;
 line-height: 70px 
}
.sidebar .nav_list li a .logos:hover{
    height: 50px;
    min-width: 50px;
    line-height: 70px ; 
    color:rgb(0, 0, 0);
background:rgb(211, 209, 209);  
}
/* .profile_content  .profile .profile_details{
    display: flex;
    align-items: center;    
} */

.clg_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px; 
    margin-top: 32px;
}
 .logo_img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    /* object-fit: cover; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
 }
 .name{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.links_name{
    font-size: 20px;
    margin-top: 20px;
    border: none;
}
.links_name:hover{
    color:rgb(0, 0, 0);
    background:rgb(211, 209, 209);
    height: 40px;
    border: white;
    /* border: none !important; */
    width: 100%;
}


/* .pagination{
    float: right !important;
     padding-left: 0;
     margin-top: 900px;
     border-radius: 4px;
} */
