 .loginDivFirst {
     background-image: url('./assets/LoginBGimg.png');
     background-size: cover;
     background-repeat: no-repeat;
     /* justify-content: center; */
     height: 100vh;
     width: 100vw;
 }
 
 .loginDiv {
     height: 80%;
     width: 50%;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     display: flex;
     flex-direction: row;
     flex-flow: wrap;
     justify-content: space-around;
     justify-content: center;
     background-image: url('./assets/LogibBG1img.svg');
     background-size: contain;
     background-repeat: no-repeat;
 }
 
 .loginLableColor {
     color: grey;
 }
 
 #LoginForm {
     padding-left: 5%;
     padding-right: 16%;
     padding-top: 8%;
     padding-bottom: 8%;
 }
 
 .containertwo {
     height: 40%;
     width: 40%;
     /* margin: 100px; */
     box-sizing: border-box;
 }
 
 #img {
     width: 11pc;
     height: 11pc;
     float: left;
     margin-top: 65%;
     margin-left: 6%;
 }
 
 #formContainer {
     margin-top: 18%;
     margin-inline: 10%;
     padding-left: 5%;
     height: 300px;
     width: 200px;
 }
 
 #btn {
     height: 50px;
     width: 170px;
     font-size: 15px;
     float: right;
     margin: 6px 0px;
     font-weight: bold;
 }
 
 #ForgotPassformContainer {
     margin: 40% 0;
     justify-items: center;
 }
 
 #forgothadline {
     margin-bottom: 10%;
     font-size: auto;
 }
 
 @media screen and (max-width :1150px) {
     .containertwo {
         width: 45%;
     }
     .loginDiv {
         height: 70%;
         width: 58%;
     }
     #img {
         width: 9.8pc;
         height: 9.8pc;
         float: left;
         margin-top: 55%;
         margin-left: 13%;
     }
     #formContainer {
         margin-top: 15%;
         margin-inline: 10%;
         padding-left: 5%;
         height: 140px;
         width: 140px;
     }
     #btn {
         height: auto;
         width: 120px;
         font-size: 15px;
         float: right;
         margin: 5px 19px;
     }
     #inputLablesize {
         width: 86%;
     }
     #forgothadline {
         margin-bottom: 10%;
         font-size: 18 px;
         width: 90%;
     }
 }
 
 @media screen and (max-width :1050px) {
     .containertwo {
         width: 45%;
     }
     .loginDiv {
         height: 70%;
         width: 48%;
     }
     #img {
         width: 9.8pc;
         height: 9.8pc;
         float: left;
         margin-top: 55%;
         margin-left: 13%;
     }
     #formContainer {
         margin-top: 15%;
         margin-inline: 10%;
         padding-left: 5%;
         height: 140px;
         width: 140px;
     }
     #btn {
         height: auto;
         width: 120px;
         font-size: 15px;
         float: right;
         margin: 5px 19px;
     }
     #forgothadline {
         width: 90%;
     }
 }
 
 @media screen and (max-width :930px) {
     .containertwo {
         width: 50%;
     }
     .loginDiv {
         height: 73%;
         width: 55%;
     }
     #img {
         width: 7.5pc;
         height: 7.5pc;
         float: left;
         margin-top: 45%;
         margin-left: 15%;
     }
     #formContainer {
         margin-top: 12%;
         margin-inline: 10%;
         padding-left: 5%;
         height: 200px;
         width: 110px;
     }
     #btn {
         height: 100%;
         width: 80%;
         font-size: 11px;
         float: right;
         margin: 2px;
     }
     #ForgotPassformContainer {
         margin: 25% 0;
         justify-items: center;
     }
     #forgothadline {
         width: 90%;
         font-size: 12px;
         font-size: 100%;
     }
     #inputLablesize {
         width: 90%;
     }
 }
 
 @media screen and (max-width :620px) {
     .containertwo {
         width: 60%;
         height: auto;
     }
     .loginDiv {
         margin-top: 24%;
         height: 67%;
         width: 81%;
     }
     #img {
         display: none;
     }
     #formContainer {
         margin-top: 15%;
         margin-inline: 10%;
         padding-left: 5%;
         height: 130px;
         width: 130px;
     }
     #ForgotPassformContainer {
         margin: 29% 0;
         justify-items: center;
     }
     #btn {
         height: auto;
         width: auto;
         font-size: 10px;
         float: right;
         margin: 6px 0px;
         font-weight: bold;
     }
     #forgothadline {
         width: auto;
     }
     #inputLablesize {
         width: 100%;
     }
 }
 
 @media screen and (max-width :500px) {
     .containertwo {
         width: 50%;
     }
     .loginDiv {
         background-image: none;
         background-color: rgba(19, 18, 18, 0.486);
         height: 50%;
         width: 70%;
         margin-top: 40%;
         justify-content: flex-start;
         border-radius: 20px;
     }
     #img {
         width: 0;
         height: 0;
         float: left;
         margin-top: 0;
         margin-left: 0;
     }
     #formContainer {
         margin-top: 15%;
         margin-inline: 10%;
         padding-left: 5%;
         height: 150px;
         width: 150px;
     }
     #btn {
         height: auto;
         width: auto;
         font-size: 13px;
         float: right;
         margin: 3px 0px;
         font-weight: bold;
         justify-content: center;
     }
     #forgothadline {
         width: 100%;
         display: inline;
         color: white;
         font-weight: bold;
     }
     #inputLablesize {
         width: auto;
     }
 }