 /* validation */
 
 .error {
     color: red;
     font-size: 10px;
     padding-left: 10%;
     padding-top: 2%;
 }
 /* validation */
 
 .loginDivFirst {
     background-image: url('./assets/LoginBGimg.png');
     background-size: cover;
     background-repeat: no-repeat;
     /* justify-content: center; */
     height: 100vh;
     width: 100vw;
 }
 
 .loginDiv {
     height: 80%;
     width: 50%;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     display: flex;
     flex-direction: row;
     flex-flow: wrap;
     /* justify-content: space-around; */
     justify-content: center;
     background-image: url('./assets/LogibBG1img.svg');
     background-size: contain;
     background-repeat: no-repeat;
 }
 
 .loginLableColor {
     color: grey;
 }
 
 #LoginForm {
     padding-left: 5%;
     padding-right: 16%;
     padding-top: 8%;
     padding-bottom: 8%;
 }
 
 .containertwo {
     height: 40%;
     width: 40%;
     /* margin: 100px; */
     box-sizing: border-box;
 }
 
 #img {
     width: 11pc;
     height: 11pc;
     float: left;
     margin-top: 65%;
     margin-left: 6%;
 }
 
 #formContainer {
     margin-top: 20%;
     margin-inline: 10%;
     padding-left: 5%;
     height: 200px;
     width: 200px;
 }
 
 #btn {
     height: 50px;
     width: 170px;
     font-size: 15px;
     float: right;
     margin: 6px 0px;
     font-weight: bold;
 }
 
 #forgotPass {
     font-size: 14.5px;
     float: right;
     margin: 3px 0px;
     color: gray;
 }
 
 #hadline {
     font-size: 30px;
     font-weight: bolder;
     color: rgb(105, 107, 109);
     margin-bottom: 15px;
 }
 
 .linespace {
     margin: 10px;
 }
 
 .exampleInput {
     height: 50px;
     width: 200px;
     font-size: 14px;
 }
 
 @media screen and (max-width :1150px) {
     .containertwo {
         width: 45%;
     }
     .loginDiv {
         height: 70%;
         width: 58%;
     }
     #img {
         width: 9.8pc;
         height: 9.8pc;
         float: left;
         margin-top: 55%;
         margin-left: 13%;
     }
     #formContainer {
         margin-top: 15%;
         margin-inline: 10%;
         padding-left: 5%;
         height: 140px;
         width: 140px;
     }
     #btn {
         height: auto;
         width: 120px;
         font-size: 15px;
         float: right;
         margin: 5px 19px;
     }
     #forgotPass {
         font-size: 11.5px;
         float: right;
     }
     #hadline {
         font-size: 30px;
     }
     .linespace {
         margin: 10px;
     }
     .exampleInput {
         height: 40px;
         width: 180px;
         font-size: 13px;
     }
 }
 
 @media screen and (max-width :1050px) {
     .containertwo {
         width: 45%;
     }
     .loginDiv {
         height: 70%;
         width: 48%;
     }
     #img {
         width: 9.8pc;
         height: 9.8pc;
         float: left;
         margin-top: 55%;
         margin-left: 13%;
     }
     #formContainer {
         margin-top: 15%;
         margin-inline: 10%;
         padding-left: 5%;
         height: 140px;
         width: 140px;
     }
     #btn {
         height: auto;
         width: 120px;
         font-size: 15px;
         float: right;
         margin: 5px 19px;
     }
     #forgotPass {
         font-size: 11.5px;
         float: right;
     }
     #hadline {
         font-size: 30px;
     }
     .linespace {
         margin: 10px;
     }
     .exampleInput {
         height: 40px;
         width: 160px;
         font-size: 13px;
     }
 }
 
 @media screen and (max-width :900px) {
     .containertwo {
         width: 50%;
     }
     .loginDiv {
         height: 73%;
         width: 55%;
     }
     #img {
         width: 7.5pc;
         height: 7.5pc;
         float: left;
         margin-top: 45%;
         margin-left: 15%;
     }
     #formContainer {
         margin-top: 12%;
         margin-inline: 10%;
         padding-left: 5%;
         height: 200px;
         width: 110px;
     }
     #btn {
         height: auto;
         width: auto;
         font-size: 10px;
         float: right;
         margin: 2px;
     }
     #forgotPass {
         font-size: 11px;
     }
     #hadline {
         font-size: 19px;
     }
     .linespace {
         margin: 5px;
     }
     .exampleInput {
         height: auto;
         width: 110px;
         font-size: 10px;
     }
 }
 
 @media screen and (max-width :600px) {
     .containertwo {
         width: 60%;
     }
     .loginDiv {
         height: 95%;
         width: 92%;
     }
     #img {
         display: none;
     }
     #formContainer {
         margin-top: 15%;
         margin-inline: 10%;
         padding-left: 5%;
         height: 130px;
         width: 130px;
     }
     #btn {
         height: auto;
         width: auto;
         font-size: 10px;
         float: right;
         margin: 6px 0px;
         font-weight: bold;
     }
     #forgotPass {
         font-size: 11px;
         float: right;
         margin: 4px 0px;
     }
     #hadline {
         font-size: 20px;
         font-weight: bolder;
         color: rgb(105, 107, 109);
         margin-bottom: 8px;
     }
     .linespace {
         margin: 7px;
     }
     .exampleInput {
         height: 40px;
         width: 110px;
         font-size: 14px;
     }
 }
 
 @media screen and (max-width :500px) {
     .containertwo {
         width: 50%;
     }
     .loginDiv {
         background-image: none;
         background-color: rgba(19, 18, 18, 0.486);
         height: 50%;
         width: 70%;
         /* margin-top: 40%; */
         justify-content: flex-start;
         border-radius: 20px;
     }
     #img {
         width: 0;
         height: 0;
         float: left;
         margin-top: 0;
         margin-left: 0;
     }
     #formContainer {
         margin-top: 15%;
         margin-inline: 10%;
         padding-left: 5%;
         height: 150px;
         width: 150px;
     }
     #btn {
         height: auto;
         width: auto;
         font-size: 13px;
         float: right;
         margin: 3px 0px;
         font-weight: bold;
         justify-content: center;
     }
     #forgotPass {
         font-size: 10px;
         float: right;
         margin: 3px 0px;
         color: rgb(243, 243, 243);
     }
     #hadline {
         font-size: 19px;
         font-weight: bolder;
         color: rgb(235, 240, 245);
         margin-bottom: 8px;
     }
     .linespace {
         margin: 5px;
     }
     .exampleInput {
         height: auto;
         width: auto;
         font-size: 12px;
     }
 }
 
 #imgconatiner {
     background-image: url('./assets/LogibBG1img.svg');
     background-size: contain;
     background-repeat: no-repeat;
 }
 
 #forgothadline {
     color: rgb(110, 102, 102);
 }