.header_part_compo {
  padding: 10px;
  display: flex;
  flex-direction: left;
  justify-content: flex-end;
  align-content: center;
}

.search_bar {
  text-align: center;
  justify-content: center;
  margin-bottom: -70px;
  align-items: center;
}

.page_selector {
  margin-top: 7px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drop_down_menu {
  margin-top: 7px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* style={{ textAlign: "end", padding: "10px" }} */
