@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swal2-confirm{

  width: 86px !important;
}


/* /////////////// */
/* filter css */

.filter-dropdown-menu{

  position: absolute !important;
  inset: 0px auto auto 0px !important;
  transform: translate3d(-50px, 47px, 0px) !important;
  min-width: fit-content !important;
}

.filter_btn{
  border: none !important;
  box-shadow: none !important;
}

.popover-arrow{
  position: absolute !important;
    top: 0px !important;
    transform: translate3d(0px, 5px, 0px) !important;
}