.container_navbar {
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: black; */
}

.navbar_container_start_side {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-left: 0px;
  margin-top: 13px;
}

.navbar_container_end_side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* flex-wrap: wrap; */
  color: white;
  width: 100%;
}

.changing_navbar_containt_conditional {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
