body{
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
    background-color: #9bafd0;
  }

.images_sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span {
  color: #19b3d3;
}

.toggle_animation {
  transition: 0.5s;
}
/* .logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  } */

.logout_btn:hover {
  background: #0b87a6;
}

.input_sidebar {
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 6px;
  width: 90%;
  height: 37px;
  outline: none;
  padding-left: 15px;
}
/* f4f7fc hover */

.input_sidebar :hover {
  border: none;
  outline: none;
}

/* .input_sidebar ::placeholder{
    opacity: 2;
    
  }

::placeholder {
  color: rgb(5, 5, 5);
  opacity: 50%;
  /* Firefox */
  /* padding-left: 10px;
} */
.sidebar-logos{
    color: rgb(85, 85, 85);
}

.sidebar {
 margin: 10px;
  border-radius: 4px;
  z-index: 100;
  
  /* border: 1px solid black; */
  /* box-shadow: 5px 5px 5px 5px rgba(3, 0, 0, 0.061); */
  /* margin-top: 70px; */
  /* padding-top: 30px; */
  position: fixed;
  left: 0;
  margin-left: 10px;
  width: 270px;
  height: 97vh;
  transition: 0.5s;
  transition-property: left;
  background-color: white;
}

.sidebar .profile_image1 {
  width: 195px;
  height: 70px;
  /* margin-top: 10px; */
  margin-bottom: 0px;
}

.sidebar .profile_image2 {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  border-radius: 100px;
  margin-bottom: 4px;
}

.sidebar_david {
  color: black;
  opacity: 80%;
  margin-bottom: 20px;
}

.sidebar h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}
.sidebar_options:hover::before {
  content: "";
  background-color: #ff9e43;
  height: 37px;
  width: 5px;
  position: absolute;
  padding-bottom: 5px;
  text-decoration: none;
  transition: 0.5s;
    transition-property: all;
  border-radius: 6px;
  /* right: -5px; */
  /* margin-right: 10px; */
  /* top: 0px; */
}
.Sidebar_text{
  margin-left: 23px;
  /* padding-top: 5px; */
}
/* .Sidebar_text_span{
  margin-top: 5px;
} */
.sidebar_options{
  color: rgb(12, 1, 1) !important;
  display: block;
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  height: 37px;
  border-radius: 6px;
  /* line-height: 60px; */
  /* padding: 5px; */
  
  text-decoration: none;
  /* padding-left: 40px; */
  margin-left: 15px;
  /* box-sizing: border-box; */
  /* transition: 0.5s;
  transition-property: background; */
}
.dropdown_heading{
  text-decoration: none;
  
  /* -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg); */
  margin-right: 15px;
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  inline-size: -webkit-fill-available;  
  background-color: var(--baseBg);
}
.select-options {

  list-style: none;
  padding: 5px 0;
  margin: 0;

}

.sidebar .small_logo {
  color: rgb(12, 1, 1);
  position: absolute;
  width: 50px;
  height: 50px;
  right: 15px;
  top: 55px;
  text-decoration: none;
  transition: 0.5s;
  transition-property: background;
}
.sidebar .small_logo_avtar {
  color: rgb(12, 1, 1);
  position: absolute;
  width: 50px;
  height: 50px;
  right: 15px;
  top: 120px;
  text-decoration: none;
  /* transition: 0.5s;
  transition-property: background; */
}

.sidebar a:hover {
  background: rgb(228, 228, 228);
  color: black;
  text-decoration: none;
}

.sidebar_icons {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: rgb(10, 7, 7);
  position: relative;
  cursor: pointer;
  left: 135px;
  /* border: 1px solid rgb(184, 184, 184); */
  border-radius: 50%;
  width: 30px;
  font-size: 20px;
  margin-top: 18px;
  /* transition: 0.5s;
  transition-property: color; */
  background-color: white;
  /* padding: 5px; */
}

label #sidebar_btn:hover {
  color: #b5b5b5;
}

#check:checked ~ .sidebar {
  left: -190px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 200px;
  width: 60px;
}

/* .content{
    margin-left: 250px;
    /* background: url(background.png) no-repeat; */

/* background-position: center; */

/* background-size: cover; */

/* height: 100vh; */

/* transition: 0.5s; */

/* background-color: #bdbdbd; */

/* } */

.errspan {
  /* float: right; */
  margin-left: 200px;
  margin-top: -25px;
  margin-bottom: 20px;
  /* position: relative; */
  /* z-index: 2; */
  color: #252429d5;
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check {
  display: none;
}

.display_none{
  display: none;
}



/* -------------dropdown-------- */

.dropdown_items_div{
  height: auto !important ;
}
#sidebar .dropdown-menu.show {
  width: 240px !important;
  height: auto !important;
  background-color: white !important;
}

.sidebar_options_link{
  color: rgb(12, 1, 1) !important;
  display: flex !important;
  align-items: center !important;
  width: 95% !important;
  margin-left: 5px;
  position: relative;
  display: flex;
  align-items: center;
  height: 37px;
  border-radius: 6px;
  
  background-color: white !important;
  /* line-height: 60px; */
  padding: 0 !important;
  
  text-decoration: none;
}
.sidebar_options_link:hover::before {
  content: "";
  background-color: #ff9e43;
  height: 37px;
  display: flex;
  align-items: center;
  width: 5px;
  position: absolute;
  padding-bottom: 5px;
  text-decoration: none;
  transition: 0.5s;
    transition-property: all;
  border-radius: 6px;
 
}
.sidebar_options_link:hover {
  color: black;
  background: rgb(228, 228, 228) !important;
  text-decoration: none;
}

#check:checked ~ .sidebar .dropdown-menu .sidebar_options_link  {
  margin-left: 7px !important;
  font-size: 16px !important;
  /* margin-left: 200px; */
  width: 60px;
}
#check:checked ~ .sidebar .dropdown_items_div  {
 
  display: none !important;
 
}
#check:checked ~ .sidebar .dropdown-menu .sidebar_options_link span {
  display: block;
}